# this file in flux while this repo being built out
# to be done in a virtual env
rq
pandas
pymongo
requests
#Flask
#flask-mongoengine
textacy
# Install Spacy en language model(s)
# note: these are small versions of the model, experiemtn with the full (1gb+) versions sometime
https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-2.0.0-alpha/xx_ent_wiki_sm-2.0.0-alpha.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0-alpha/en_core_web_sm-2.0.0-alpha.tar.gz
git+https://github.com/robinsonkwame/wabbit_wappa#egg=wabbit_wappa
#dask
