# todo: determine if all of these libraries are actually needed
ipdb==0.10.3 # just in case, for now
pandas==0.20.3
pymongo==3.5.0
requests==2.18.4
spacy==1.9.0
textacy==0.4.1
falcon==1.2.0
gunicorn==19.7.1
werkzeug==0.12.2
git+https://github.com/robinsonkwame/wabbit_wappa#egg=wabitt_wappa
